[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/ImGuiColorTextEdit"]
	path = thirdparty/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "thirdparty/SFML"]
	path = thirdparty/SFML
	url = https://github.com/SFML/SFML.git
[submodule "thirdparty/imgui-sfml"]
	path = thirdparty/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "thirdparty/dynamic_bitset"]
	path = thirdparty/dynamic_bitset
	url = https://github.com/pinam45/dynamic_bitset.git